<div class="ivip">
    <video ng-if="$ctrl.isVideo" class="ivip-media video mb-5" controls autoplay="true" src="{{$ctrl.mediaPath}}" controlsList="nodownload"></video>
    <audio ng-if="!$ctrl.isVideo" class="ivip-media audio mb-5" controls autoplay="true" src="{{$ctrl.mediaPath}}" controlsList="nodownload"></audio>
    <div class="text-container ivip-text-container">
        <span class="sentence {{sentence.attrs.speaker_id}}" 
                id="{{sentence.attrs.id}}" 
                ng-repeat="sentence in $ctrl.data.document.tokens" 
                ng-style="{color: $ctrl.docColors[sentence.attrs.speaker_id]}">
            <span class="ivip-speaker">{{sentence.attrs.speaker_id}}</span>
            <span class="word" ng-repeat="token in sentence.tokens" ng-click="$ctrl.wordClicked(sentence, token)">
            {{token.attrs.head}}{{token.attrs.word}}{{token.attrs.tail}}
            </span>
        </span>
        <div ng-if="!$ctrl.follow" 
            ng-click="$ctrl.makeFollow()"
            class="follow-icon">
            <i uib-popover="{{'ivip_follow_video' | loc:$root.lang}}" popover-trigger="'mouseenter'" class="fa fa-angle-double-down"></i>
        </div>
    </div>
</div>
